

/* Space out content a bit */
body {
    padding-bottom: 20px;
    background-color: #EFEFEF;
}

.container {
  width: 100%;
  margin: 0;
}

.logo {
  text-align: center;
  min-height: 30%;
  background: #F55;
}

.battleground {
  margin-top: 25px;
  padding-top: 25px;
}

#user-rap {
  display: block;
  width: 400px;
  height: 120px;
  padding: 8px;
  border: 1px solid #ccc;
  line-height: 130%;
  font-size: 16px;
}